#!/bin/sh

source /home/{{ oracle_user }}/.bashrc

sqlplus / as sysdba <<EOT
CREATE USER {{ oracle_db_user }} IDENTIFIED BY {{ oracle_db_pass }};
GRANT connect, resource TO {{ oracle_db_user }};
exit;
EOT
